/* ---------- RESET ---------- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- VARIABLES GLOBALES ---------- */
:root {
    --color-logo-principal: #C0DD17;
    --color-logo-secundario: #DBFF43;
    --color-logo-contraste: #025237;
    --color-logo-alternativo: #A0BBB2;
    --color-fondo-principal: #E8E8E8;
    --color-fondo-contraste: #1C1C1C;
    --color-texto-blanco: #FFFFFF;
    --color-texto-negro: #000000;
    --fuente-principal: "Poppins", sans-serif;
    --titulos-principales: 2.5rem;
    --titulos-secundarios: 1.3rem;
    --titulos-chicos: 0.8rem;
}

/* ---------- ESTILOS GENERALES ---------- */
body{
    font-family: "Poppins", sans-serif;
}
li{
    list-style-type: none;
}
img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
    display: block;
}
h1{
    color: var(--color-texto-negro);
    font-size: var(--titulos-principales);
}
h2{
    color: var(--color-texto-negro);
    font-size: var(--titulos-secundarios);
}
h3, h4, h5, h6{
    color: var(--color-texto-negro);
    font-size: var(--titulos-chicos);
}

/* ---------- ENCABEZADO ---------- */
header nav ul{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

/* ---------- CONTENIDO PRINCIPAL ---------- */

/* ---------- PIE DE PAGINA ---------- */

/* ---------- MEDIA QUERIES ---------- */

