/* ---------- RESET ---------- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- ESTILOS GENERALES ---------- */
body{
    font-family: "Poppins", sans-serif;
}
li{
    list-style-type: none;
}
img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
    display: block;
}
h1{
    color: aqua;
}

/* ---------- ENCABEZADO ---------- */
header nav ul{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

/* ---------- CONTENIDO PRINCIPAL ---------- */

/* ---------- PIE DE PAGINA ---------- */

